---
---

@import "{{ site.theme }}";
.page-header {
    background-image: url(https://henridb.github.io/Armelle_et_Henri/images/prieure.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #193259;
}
@media screen and (min-width: 64em) {
    .page-header {
        padding: 8rem 6rem;
    }
}
@media screen and (max-width: 64em) and (min-width: 42em){
    .page-header {
        padding: 5rem 4rem;
    }
}
@media screen and (max-width: 42em){
    .page-header {
        padding: 4rem 1rem;
    }
}
:root {
  --some-orange: #f8bf1e;
  --covid-padding: 10px;
}
.material-icons {
    font-variant: none;
    position: relative;
    top: .2em;
}
.COVID-19 {
    border: 2px solid var(--some-orange);
    width: 90%;
    margin: auto;
    padding: var(--covid-padding);
    border-radius: 10px;
    background-image: linear-gradient(to left, var(--some-orange) 0%,transparent var(--covid-padding),transparent 100%), 
        linear-gradient(to right, var(--some-orange) 0%,transparent var(--covid-padding),transparent 100%), 
        linear-gradient(to top, var(--some-orange) 0%,transparent var(--covid-padding),transparent 100%), 
        linear-gradient(to bottom, var(--some-orange) 0%,transparent var(--covid-padding),transparent 100%);
    text-align: justify;
}
.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #25549e;
    font-weight: bold;
}
.main-content h1, .main-content h2, .main-content h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-variant: all-small-caps;
}
.main-content h1, .main-content h2 {
    color: var(--some-orange);
    text-align: center;
}
.main-content h2 {
    text-decoration: overline;
}
.main-content h1 {
    background-image: linear-gradient(to right, var(--some-orange) 0%, transparent 10%, transparent 90%, var(--some-orange) 100%);
}
body {
    color: #152c4f;
}
